@charset "utf-8";
/* CSS Document */

*{
    font-family: sans-serif !important;
    font-size: 12px !important;
    line-height: 1.4em !important;
    color: #333333;
}
body{
	padding: 10px 8px 39px 7px;
	margin: 0;
	overflow-x: hidden;
}
a {
	color: #21759B !important;
	outline: none !important;
}
a:hover {
	color: #D54E21 !important;
}
.current a {
	color: #D54E21 !important;
}
fieldset{
	padding: 0.9em 1em 0.7em !important;
	margin-top: 0.2em;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
legend{
	display: inline-block;
    font-size: 11px !important;
    color: #aaa !important;
	margin: 0 0 0 -1.1em;
	padding: 0 5px 0 0;
	font-weight: bold;
}
em {
	display: inline-block;
	font-size: 9px !important;
	color: #999999;
	padding-top: 0.7ex;
}
p{
	margin: 0;
	padding: 0 0 0.7em 0;
}

.tabs {
    background: none !important;
    height: auto !important;
    width: 100%;
	border-bottom: solid 1px #DFDFDF;
}
.tabs ul {
    bottom: -1px;
    margin: 0;
	padding: 0;
    overflow: hidden;
    list-style: none;
    position: relative;
    height: auto !important;
}
.tabs li {
    background: none !important;
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    white-space: nowrap;
    height: auto !important;
}
.tabs span {
    background: none !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}
.tabs li a {
	display: block;
    height: 19px !important;
    padding: 7px 8px 3px;
	outline: 0 !important;
}
.tabs li a:hover {}
.tabs li.current a {
    background-color: #FFFFFF;
    border-color: #DFDFDF #DFDFDF #FFFFFF;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    font-weight: normal;
    padding: 6px 7px 3px;
}

.mceActionPanel {
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	position: fixed;
	bottom: 0;
	padding: 9px 13px 0 0;
	height: 38px;
	min-width: 200px;
	width: 100%;
	background: url("../images/mceActionPanel-bg.png") repeat-x 0 0;
}

.panel_wrapper {
	padding: 5px 7px 10px;
	border-color: #dfdfdf;
}
	
.panel_wrapper div.current{
	height: auto !important;
}



label span {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
/*	color: #f00;*/
}

label{
	display: inline-block;
/*	padding: 2px 0 0 0; */
	line-height: 18px;
	vertical-align: middle;
}

input, textarea, select {
	padding: 2px;
	margin: 0;
	line-height: 16px;
	font-size: 10px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	display: inline-block;
    vertical-align: middle;
/*    box-sizing: border-box; */
	width: 230px;
}

input[type="checkbox"], input[type="radio"]{
	display: inline-block;
	vertical-align: middle;
	width: auto;
/*	cursor: pointer; */
}

textarea {
    overflow: auto;
    vertical-align: middle;
	height: 120px;
}

.wide-field{
	width: 278px !important;
}
.short-field{
	width: 80px !important;
}