html, body {
	font: 14px/22px normal Arial, Helvetica, sans-serif;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

.helper-tag{
	display: inline;
	margin: 0;
	padding: 0;
}


.wf-cell,
.wf-usr-cell {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	-ms-box-sizing:		border-box;
	-o-box-sizing:		border-box;
	box-sizing:			border-box;

	padding: 10px;
	border: dotted 1px #ccc;
}

.wf-cell,
.wf-usr-cell {
	display: inline-block;
	vertical-align: top;
}

.wf-1 { width: 100%; }

.wf-1-2, .wf-2-4 { width: 50%; }

.wf-1-3 { width: 33.3333%; }

.wf-2-3 { width: 66.6667%; }

.wf-1-4 { width: 25%; }

.wf-3-4 { width: 75%; }

.wf-1-5 { width: 20%; }

.wf-1-6 { width: 16.6667%; }

.wf-cell:before,
.wf-usr-cell:before {
	display: block;
	height: 12px;
	line-height: 11px;
	font-size: 10px;
	color: #ccc;
	background: #f2f8ff;
	margin-bottom: 5px;
}

.wf-1-2:before, .wf-2-4:before{
	content: "1/2";
}
.wf-1-3:before{
	content: "1/3";
}
.wf-2-3:before{
	content: "2/3";
}
.wf-1-4:before{
	content: "1/4";
}
.wf-3-4:before{
	content: "3/4";
}
.wf-1-5:before{
	content: "1/5";
}
.wf-1-6 :before{
	content: "1/6";
}
