// Variables 4.0
//When color is added it should be added to the VcSharedLibrary class too
@blue: #5472D2;
@turquoise: #00C1CF;
@pink: #FE6C61;
@violet: #8D6DC4;
@peacoc: #4CADC9;
@chino: #CEC2AB;
@mulled_wine: #50485B;
@vista_blue: #75D69C;
@black: #2A2A2A;
@grey: #EBEBEB;
@orange: #F7BE68;
@sky: #5AA1E3;
@green: #6DAB3C;
@juicy_pink: #F4524D;
@sandy_brown: #F79468;
@purple: #B97EBB;
@white: #FFFFFF;
@grace: #AED13B;
// End Variables